{% extends "global/base.html" %}
{% load static %}
{% block title %}MEEI:Detalhe de Especies{% endblock title %}
{% block content %}
<section class="dados-especie">
    <h1>{{ especies.nome_especie }}</h1>
    <img src="{{ especies.imagem.url }}" alt="Nim" />
  </section>
  <section class="conteudo-especie">
    <div class="conteudo-especie__informacao">
      <h2>Introdução</h2>
      <p>
        {{ especies.introducao }}
      </p>
    </div>
    <div class="conteudo-especie__informacao">
      <h2>Origem</h2>
      <p>
        {{ especies.origem }}
      </p>
    </div>
    <div class="conteudo-especie__informacao">
      <h2>Causas e efeitos</h2>
      <p>
        {{ especies.causa_efeito }}
      </p>
    </div>
    <div class="conteudo-especie__informacao">
      <h2>Prevenção</h2>
      <p>
        {{ especies.prevencao }}
      </p>
    </div>
</section>
{% endblock content %}