{% extends "global/base.html" %}
{% load static %}
{% block title %}MEEI:Depoimentos{% endblock title %}
{% block content %}
<div class="container-cadastro" style="justify-content: center;">
    <section class="container-formulario">
      <form method="POST" class="container-formulario__form" enctype="multipart/form-data">
        {% csrf_token %}

        <h3>Cadastre uma especie</h3>
        <div class="container-formulario__form__input">
          <label for="id-email">
            <img
              src="{% static 'noticias/img/icones/icone-cadastro.png' %}"
              alt="Ícone de cadastro"
            />
            Nome da Especie</label
          >
          {{ form.nome_especie }}

        </div>
        <div class="container-formulario__form__input">
          <label for="id-nome">
            <img
                src="{% static 'noticias/img/icones/icone-cadastro.png' %}"
              alt="Ícone de cadastro"
            />
            Imagem</label
          >
          {{ form.imagem }}
        </div>
        <div class="container-formulario__form__input">
          <label for="id-senha">
            <img
              src="{% static 'noticias/img/icones/icone-cadastro.png' %}"
              alt="Ícone de cadastro"
            />
            Introdução</label
          >
          {{ form.introducao }}
        </div>
        <div class="container-formulario__form__input">
          <label for="id-senha-confirm">
            <img
              src="{% static 'noticias/img/icones/icone-cadastro.png' %}"
              alt="Ícone de cadastro"
            />
            Origem</label
          >
          {{ form.origem }}
        </div>
        <div class="container-formulario__form__input">
          <label for="id-senha-confirm">
            <img
              src="{% static 'noticias/img/icones/icone-cadastro.png' %}"
              alt="Ícone de cadastro"
            />
            Causas e Efeitos</label
          >
          {{ form.causa_efeito }}
        </div>
        <div class="container-formulario__form__input">
          <label for="id-senha-confirm">
            <img
              src="{% static 'noticias/img/icones/icone-cadastro.png' %}"
              alt="Ícone de cadastro"
            />
            Prevenção</label
          >
          {{ form.prevencao }}
        </div>
        <input type="submit" value="Enviar" class="botao-continuar" />
      </form>
      </div>
    </section>
</div>
{% endblock content %}