{% extends "global/base.html" %}
{% load static %}

{% block title %}CEEIRN: Lista de Espécies{% endblock title %}

{% block content %}
<div class="search-container gap-4 d-flex justify-content-between align-items-center">
  <div class="">
    <a class="lista-telas__entrar text-decoration-none me-4" href="?display_type=cards">Exibir como Cards</a>
    <a class="lista-telas__entrar text-decoration-none " href="?display_type=list">Exibir como Listagem</a>
  </div>
  
  <div class="">
    {% if request.user.is_superuser and request.user.is_staff %}
    <a class="lista-telas__entrar text-decoration-none me-4" href="{% url 'especies_cadastro' %}">Cadastrar espécie</a>
    {% endif %}
    <input
    type="text"
    id="searchInput"
    placeholder="Busque aqui"
    oninput="filterContent()"
    />
  </div>
</div>

<section class="conteudo-especies">
  {% if display_type == 'cards' %}
    {% for i in especies %}
      <div class="conteudo-especies__especie searchable">
        <div class="conteudo-especies__especie__texto">
          <div class="d-flex justify-content-between">
            <h3>{{ i.nome_especie }}</h3>
            {% if request.user.is_superuser %}
              <div class="">
                <a href="{% url 'especies_exclusao' i.id %}" class="text-danger text-decoration-none"><i class="ph ph-trash"></i>Deletar</a>
                <a href="{% url 'especies_edicao' i.id  %}" class="text-primary text-decoration-none">Editar</a>
              </div>
            {% endif %}
          </div>
          <p>{{ i.introducao }}</p>
        </div>
        <img src="{{ i.imagem.url }}" alt="">
        <a href="{% url 'detalhe_especies' i.id %}" style="display: block; text-decoration: none;">Saiba mais...</a>
      </div>
    {% empty %}
      <h3>Não há espécies cadastradas no momento</h3>
    {% endfor %}
  {% elif display_type == 'list' %}
    <ul class="list-group list-group-flush">
      {% for i in especies %}
        <li class="list-group-item searchable"><a class="text-decoration-none" href="{% url 'detalhe_especies' i.id %}">{{ i.nome_especie }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
</section>

<script>
  function filterContent() {
    var searchText = document.getElementById('searchInput').value.toLowerCase();
    var contentElements = document.querySelectorAll('.searchable');

    contentElements.forEach(function (element) {
      var contentTitle = element.querySelector('h3, li a').textContent.toLowerCase();

      if (contentTitle.includes(searchText)) {
        element.style.display = 'block';
      } else {
        element.style.display = 'none';
      }
    });
  }
</script>
{% endblock content %}
