# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar pastas de compilação
build/
dist/

# Ignorar ambientes virtuais
venv/
myenv/
noticias/static/noticias/img/postgresql-16.3-2-windows-x64.exe
