{% extends "global/base.html" %}
{% load static %}
{% block title %}MEEI:Depoimentos{% endblock title %}
{% block content %}
<div class="container-cadastro">
    <section class="container-cadastro__cadastro">
      <img
        src="{% static 'especies/img/especies/tilapia.jpg' %}"
        alt="Imagem do tilapia"
        class="imagem-especie_cadastro"
      />
      <div class="container-cadastro__logo">
        <img src="{% static 'noticias/img/MEEI.png' %}" alt="Logo do site" />
        <p>
          O primeiro passo para o combate às espécies invasoras é o
          conhecimento
        </p>
      </div>
      <p class="container-cadastro__especie">
        O <b>Tilápia</b> é um peixe agressivo, de hábito alimentar onívoro e reprodução precoce.
        Predação de espécies aquáticas nativas. O rápido aumento
        populacional leva à competição por alimento e espaço com espécies
        nativas. A criação de tilápias à base de ração rica em fósforo causa
        poluição e altera o ambiente aquático para espécies nativas,
        promovendo genética e reduzindo a robustez dos ambientes afetados.
      </p>
    </section>
    <section class="container-formulario">
      <form method="POST" class="container-formulario__form">
        {% csrf_token %}
        <h3>Contate-nos</h3>
        <div class="container-formulario__form__input">
          <label for="id-email">
            <img
              src="{% static 'noticias/img/icones/icone-cadastro.png' %}"
              alt="Ícone de cadastro"
            />
            E-mail</label
          >
          {{ form.email }}
        </div>
        <div class="container-formulario__form__input">
          <label for="id-nome">
            <img
                src="{% static 'noticias/img/icones/icone-cadastro.png' %}"
              alt="Ícone de cadastro"
            />
            Nome</label
          >
          {{ form.nome }}
        </div>
        <div class="container-formulario__form__input">
          <label for="id-senha">
            <img
              src="{% static 'noticias/img/icones/icone-cadastro.png' %}"
              alt="Ícone de cadastro"
            />
            Sobre o que deseja falar?</label
          >
          {{ form.depoimento_ou_discussao }}
        </div>
        <div class="container-formulario__form__input">
          <label for="id-senha-confirm">
            <img
              src="{% static 'noticias/img/icones/icone-cadastro.png' %}"
              alt="Ícone de cadastro"
            />
            Relato</label
          >
          {{ form.relato }}
        </div>
        <input type="submit" value="Enviar" class="botao-continuar" />
      </form>
      </div>
    </section>
</div>
{% endblock content %}