{% extends "global/base.html" %}
{% load static %}
{% block content %}
<h1 class="titulo">Espécies exóticas invasoras</h1>
  
<div class="conteudos">
    <p>
    As espécies exóticas invasoras representam a segunda causa da perda de
    biodiversidade em todo o mundo (PNUD, 2001). Elas ocupam variados
    ambientes e causam impactos significativos. Apesar da magnitude desta
    problemática, ainda pouco se discute o tema no contexto público,
    acadêmico e governamental (Baskin, 2002; Vázquez e Aragon 2002; GISP,
    2005 apud ZILLER E ZALBA, 2007). Além disso, o desconhecimento acerca
    dessas espécies e das consequências que trazem é um dos principais
    fatores para o crescimento do problema.
    </p>
    <p>
    Conforme a Convenção sobre Diversidade Biológica, espécie exótica
    consiste em uma espécie, subespécie ou táxon de hierarquia inferior
    ocorrendo fora de sua área de distribuição natural passada ou
    presente; inclui qualquer parte, como gametas, sementes, ovos ou
    propágulos que possam sobreviver e subsequentemente se reproduzir. Já
    a espécie exótica invasora são aquelas cuja introdução e/ou dispersão
    ameaçam a diversidade biológica (CDB Decisão VI/23, s.d.).
    </p>
    <p>
    Desde o início da agricultura, espécies de praticamente todos os
    grupos taxonômicos têm sido transportadas pelos homens para além de
    suas áreas de distribuição natural (SAMPAIO; SCHMIDT, 2013). Ou seja,
    as espécies são levadas para ambientes que, por natureza, não são
    propícios à sua presença. No entanto, esses locais, por vezes,
    apresentam características que permitem um desenvolvimento sobrecomum
    dessas espécies em relação às nativas - processo conhecido por
    contaminação biológica. Isso porque não existem, nestes locais,
    predadores naturais para as invasoras e/ou elas apresentam um alto
    potencial biótico. Desse modo, as espécies exóticas invasoras acabam
    se sobressaindo e podem causar a extinção das espécies de distribuição
    geográfica natural do local (Instituto Hórus, s.d.).
    </p>
    <p>
    A crescente movimentação de espécies para além das suas áreas de
    distribuição natural resultou nos processos de invasão biológica,
    causando alteração em ciclos ecológicos, dificultando a recuperação de
    ecossistemas naturais e provocando a eliminação de espécies nativas.
    As espécies exóticas invasoras causam problemas que vão além do meio
    ambiente: elas impactam à economia, à saúde e podem provocar danos
    sociais e culturais (CONSEMA, 2009). A invasão da espécie exótica pode
    ocorrer de forma intencional ou acidental, por meio de vias e vetores
    de introdução e dispersão como estradas, canais, trilhas,
    aquariofilia, paisagismo, agricultura, aquicultura, navios etc (IBAMA,
    2019; ICMBIO, 2022).
    </p>
    <p>
    Os rastros deixados pelas invasões são devastadores, as espécies
    exóticas invasoras já contribuíram, desde 1600, com a extinção de 39%
    das espécies de animais extintos com causas conhecidas (CDB, 1992). De
    acordo com a base de dados nacional do Instituto Hórus de
    Desenvolvimento e Conservação Ambiental, foi registrada até o momento
    a presença de 58 espécies exóticas invasoras no estado do Rio Grande
    do Norte. Dentre elas, podemos destacar o caracol-gigante-africano (<i
        >Achatina fulica</i
    >) e o nim (<i>Azadirachta indica</i>).
    </p>
</div>

<section class="dados-estatisticos">
    <h1 class="dados-estatisticos__titulo">
    ESPÉCIES INVASORAS NO RIO GRANDE DO NORTE
    </h1>

    <div class="dados-estatisticos__dados">
    <div class="dado">
        <p class="dado__numero">487</p>
        <p class="dado__informacao">
        Espécies registradas em Pau dos Ferros
        </p>
    </div>
    <div class="dado">
        <p class="dado__numero">16</p>
        <p class="dado__informacao">Espécies registradas em Mossoró</p>
    </div>
    <div class="dado">
        <p class="dado__numero">41</p>
        <p class="dado__informacao">Espécies registradas em Natal</p>
    </div>
    </div>
</section>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-item active">
      <a href="https://bd.institutohorus.org.br/" target="_blank">
        <img class="d-block w-100" src="{% static 'especies/img/imagem1.jpg' %}" alt="Base de dados do Instituto Hórus de Desenvolvimento e Conservação Ambiental">
      </a>
    </div>
    <div class="carousel-item">
      <a href="https://www.gov.br/icmbio/pt-br" target="_blank">
        <img class="d-block w-100" src="{% static 'especies/img/imagem2.jpg' %}" alt="Instituto Chico Mendes de Conservação da Biodiversidade">
      </a>
    </div>
    <div class="carousel-item">
      <a href="https://www.cbd.int/" target="_blank">
        <img class="d-block w-100" src="{% static 'especies/img/imagem3.jpg' %}" alt="Convenção sobre Diversidade Biológica">
      </a>
    </div>
    

{% endblock content %}
